.blogCardsTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 250px;
  }

  .blogCardsContainer{
    display: flex;
    max-width: 260px;
    width: 100%;
    margin: 0 20px;
  }

